<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- This section contains the log4net configuration settings -->
  <log4net>
    <!--<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout" value="%date [%thread] %-5level %logger - %message%newline" />
    </appender>-->

    <!--<appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="log-file.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>-->

    <logger name="LogInfoText">
      <level value="ALL" />
      <appender-ref ref="ErrorRollingFileAppender" />
      <appender-ref ref="InfoRollingFileAppender" />
      <appender-ref ref="DebugRollingFileAppender" />
    </logger>
    <appender name="InfoRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="E:\File\" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.Info.txt'" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO" />
        <param name="LevelMax" value="INFO" />
      </filter>
    </appender>

    <appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="E:\File\" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.Error.txt'" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ERROR" />
        <param name="LevelMax" value="ERROR" />
      </filter>
    </appender>

    <appender name="DebugRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="E:\File\" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <staticLogFileName value="false" />
      <datePattern value="yyyyMMdd'.Debug.txt'" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="1MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG" />
        <param name="LevelMax" value="DEBUG" />
      </filter>
    </appender>



    <logger name="LogInfoDB">
      <level value="ALL" />
      <appender-ref ref="ADONetAppender" />
    </logger>
    <appender name="ADONetAppender" type="log4net.Appender.ADONetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <add name="Database" connectionString="Server=.;Initial Catalog=PGMS;Persist Security Info=False;User ID=sa;Password=123456;" />
      <!--<connectionString value="Data Source=127.0.0.1;Database=test;uid=sa;pwd=test;Max Pool Size=300;Connect Timeout=15;" />-->
      <commandText value="INSERT INTO PgmsLog ([LogType],[ModelName],[Message],[Exception],[IP],[Log_Date],[UserId],LogLevel) VALUES (@LogType,@ModelName, @Message, @Exception, @Ip,@LogDate,@UserId,@LogLevel)" />
      <parameter>
        <parameterName value="@LogType" />
        <dbType value="String" />
        <size value="20" />
        <layout type="PgmsLog.CustomLayout">
          <conversionPattern value="%Object{LogType}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@ModelName" />
        <dbType value="String" />
        <size value="110" />
        <layout type="PgmsLog.CustomLayout">
          <conversionPattern value="%Object{ModelName}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Message" />
        <dbType value="String" />
        <size value="2000" />
        <layout type="PgmsLog.CustomLayout">
          <conversionPattern value="%Object{Message}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@Exception" />
        <dbType value="String" />
        <size value="8000" />
        <!--<layout type="PgmsLog.CustomLayout">-->
        <layout type="log4net.Layout.PatternLayout">

          <!--<conversionPattern value="%Object{Exception}" />-->
          <conversionPattern value="%exception" />

        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LogLevel" />
        <dbType value="String" />
        <size value="8000" />
        <!--<layout type="PgmsLog.CustomLayout">-->
        <layout type="log4net.Layout.PatternLayout">

          <!--<conversionPattern value="%Object{Exception}" />-->
          <conversionPattern value="%p" />

        </layout>
      </parameter>

      <parameter>
        <parameterName value="@Ip" />
        <dbType value="String" />
        <size value="20" />
        <layout type="PgmsLog.CustomLayout">
          <conversionPattern value="%Object{Ip}" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@LogDate" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@UserId" />
        <dbType value="String" />
        <size value="100" />
        <layout type="PgmsLog.CustomLayout">
          <conversionPattern value="%Object{UserId}" />
        </layout>
      </parameter>
    </appender>

    <!-- Setup the root category, add the appenders and set the default level -->
    <!--<root>
      <level value="ALL" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>-->

  </log4net>
</configuration>